# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
name: Demo Azure Pipelines
trigger:
  branches:
    include:
      - master
      - release

pool:
  vmImage: 'windows-2019'

steps:
- pwsh: | 
    $webRequest = Invoke-WebRequest https://api.github.com/repos/dpaulson45/TestRepos/releases
    $json = ConvertFrom-Json -InputObject $webRequest.Content
    $tagString = $json[0].tag_name
    Write-Host("Current tag: {0}" -f $tagString)
    $split = $tagString.Split(".")
    $tag = "v1.{0}.{1}" -f $split[-2], (++([double]$split[-1]))
    Write-Host("New tag: {0}" -f $tag)
    Write-Host "##vso[task.setvariable variable=ReleaseTagValue]$tag"

  displayName: "Setting Tag Value"

- pwsh: |
    $value = "$(ReleaseTagValue)"
    $title = "{0} Release" -f $value
    Write-Host "##vso[task.setvariable variable=ReleaseTitleValue]$title"
  
  displayName: "Setting Release Title"

- pwsh: |
    $releaseNotes = @()
    $assets = .\Build\BuildScript.ps1 

    $assetFiles = @()

    foreach($key in $assets.Keys)
    {
      $releaseNotes += ($value = "Script: {0} SHA256: {1}" -f $key, $assets[$key].Hash)
      Write-Host("$value")
      $filepath = $assets[$key].FileName
      Write-Host("$filepath")
      $assetFiles += $filepath
    }
    Write-Host($releaseNotes)
    Write-Host "##vso[task.setvariable variable=ReleaseNotes]$releaseNotes"
  displayName: "Setting Release Notes and Assets"

- task: GitHubRelease@0
  displayName: 'Create GitHub Release'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/release'))
  inputs:
    gitHubConnection: github.com_dpaulson45
    repositoryName: dpaulson45/TestRepos
    action: create
    tagSource: manual
    tagPattern: 'v[0-9].[0-9].[0-9]'
    tag: $(ReleaseTagValue)
    title: $(ReleaseTitleValue)
    releaseNotesSource: 'input'
    releaseNotes: $(ReleaseNotes)
    addChangeLog: true
    assets: |
      .\Test-Script\TestScript.ps1
      .\Test-Script\NewTestScript.ps1